.login {
  margin: 0 0 0 25%;
  text-align: right;
  color: rgb(123, 253, 97);
  border-style: solid;
  font-size: 2rem;
}

.logo {
  margin: 0 0 0 30%;
  text-align: right;
  color: rgb(123, 253, 97);
  font-size: 2rem;
}
nav {
  background-color: #202020;
  max-width: 100%;
  height: 120px;
  font-size: 20px;
  text-align: center;
  color: rgb(123, 253, 97);
}
.review_link,
.news_link {
  color: rgb(123, 253, 97);
  text-decoration: none;
}

.userList {
  margin: 0 0 0 05%;
  color: rgb(123, 253, 97);
  text-align: right;
  font-size: 2rem;
}
