fieldset {
  margin-left: 35%;
  margin-right: 40%;
  padding-top: 0.35em;
  padding-bottom: 0.625em;
  padding-left: 0.75em;
  padding-right: 0.75em;
}

.username__prompt {
  margin-left: 30%;
}
label {
  margin-left: 20%;
}

.user__greeting {
  margin-top: 5%;
  text-align: center;
}

.login-form__button {
  margin-top: 20px;
  margin-left: 46%;
  width: 150px;
  height: 50px;
  font-size: 1.5rem;
}
